<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.joemerlino.powercaller</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
		    <key>cell</key>
		    <string>PSEditTextCell</string>
		    <key>placeholder</key>
		    <string>Contact name</string>
		    <key>defaults</key>
		    <string>com.joemerlino.powercaller</string>
		    <key>key</key>
		    <string>savedName</string>
		    <key>autoCaps</key>
		    <string>words</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@joe_merlino</string>
		</dict>
		<dict>
			<key>action</key>
			<string>my_site</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy Me a Coffee! (Donate)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>alignment</key>
			<string>center</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send Mail</string>
		</dict>
	</array>
	<key>title</key>
	<string>PowerCaller</string>
</dict>
</plist>
